$color-violet: #c678dd;
$color-green: #98c379;
$color-red: #e06c75;
$color-blue: #61afef;
$color-background: #282c34;
$color-content: #efefef;
$color-text-dark: #222;
$color-text-light: #ccc;
$color-text-grey: #7f848e;
$font-size: 16px;
