html {
  font-family: 'Fira Sans', sans-serif;
  font-size: $font-size;
  line-height: 1.75em;
  color: $color-text-dark;
}

a {
  color: $color-violet;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0 0 0.5em;
}

h1 {
  font-size: 2em;
}

code {
  background: $color-background;
  padding: 4px 6px;
  color: $color-red;
  border-radius: 3px;
}

ul {
  list-style-type: square;
  padding: 0 0 0 1.5em;
  margin: 0;
  li {
    margin: 0.5em 0;
  }
}
