$color-primary: #c678dd;
$color-secondary: #98c379;
$color-tertiary: #e06c75;
$color-background: #282c34;
$color-content: #efefef;
$color-text-dark: #222;
$color-text-light: #ccc;
$color-text-grey: #777;
$font-size: 16px;
